<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= projetoName %></title>
    <link rel="stylesheet" href="/css/projeto.css" />
  </head>
  <body>
    <div class="projeto">
      <h1><%= projetoName %></h1>
      <a href="<%= url %>">
        <img
          class="imagem"
          src="<%= projetoImg %>"
          alt="Personagens da Disney"
        />
      </a>
    </div>
    <div class="descricao">
      <h2>Descrição do Projeto</h2>
      <p><%= descricao %></p>
    </div>

    <div class="tenologias">
      <h3>Principais Tecnologias utilizadas</h3>
      <% tecnologias.forEach(function(tecnologia) { %>
      <img height="50px" alt="tecnologia" src="<%= tecnologia %>" />
      <% }) %>
    </div>
  </body>
</html>
